<section class="container-fluid p-5 row mb-2" id="destinoSingle">

    

        <div class="col-8 " style="background-image: url(/img/{{destino.imagen}}); background-size:contain;background-repeat: no-repeat;">
          
        </div>
        <div class="col-4">
            <h2>
                {{destino.destino}}
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum atque laborum omnis nihil non adipisci et iste est perspiciatis nulla? Molestiae, sit porro! Iure autem cumque dolorem vero minus in.
            </p>
            <p>
                {{{destino.especificaciones}}}
            </p>
            <p>
                Usd {{destino.precio}}
            </p>
           
        </div>
        <div class="col-12">

        </div>

    

</section>