<section class="container-fluid p-5" style="top:50px; position:relative;height:95vh">

    <div>
        <h3>
            {{finalizo}}
        </h3>
            
            <div class="col-sm-2">
            
            <a href="/">

                <button class="btn btn-primary">Volver</button>

            </a>
            
            </div>
       
    </div>



</section>