   <footer id="footer" class="container-fluid text-center p-0 mb-0">

<div id="redes" class="container p-0 my-0">
  <ul class="row justify-content-center m-0">
    <li class="col-1 m-1"><a href="https://www.facebook.com/juanma.lescano/"><img src="img/icons/fb.png" alt="Fb"></a>
    </li>

    <li class="col-1 m-1"><a href="www.instagram.com/juanmalescano/"><img src="img/icons/ins.png" alt="Telegram"></a>
    </li>

    <li class="col-1 m-1"><a href="#"><img src="img/icons/wpp.png" alt="Wpp"></a></li>

    <li class="col-1 m-1"><a href="#"><img src="img/icons/tele.png" alt="Wpp"></a></li>
  </ul>      
</div>

  <div class="derechos ">
    <p class="text-center m-0">
      &copy; Derechos reservados - 2020
    </p>
  </div>
</footer>