 <!-- HEADER -->
    <header class="container-fluid position-fixed ">
      
        <!-- contenedor de menu y logo -->
        <div id="contenedorlog-nav" class="container p-0">

          <nav id="navegacion" class="navbar navbar-expand-lg navbar-light  p-0">

                  <!-- menu navegacion -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#contenedorlistamenu" aria-controls="contenedorlistamenu" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
          
                <div class="collapse navbar-collapse text-right" id="contenedorlistamenu">
                 
                  <ul class="navbar-nav ml-auto text-right">
                    
                      <li class="nav-item ">
                        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                      </li>

                      <li class="nav-item ">
                        <a class="nav-link" href="#destinos">Destinos<span class="sr-only">(current)</span></a>
                      </li>

                      <li class="nav-item ">
                        <a class="nav-link" href="#contacto">Contactanos<span class="sr-only">(current)</span></a>
                      </li>
  
                  </ul>

                </div>

          </nav>

        </div>

    </header>